@import "variables";

@import "~bootstrap";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/v4-shims";

@import "layout";
@import "utilities";

$flag-icon-css-path: '~flag-icon-css/flags';
$include: gb, nl, de, es, fr, fi, dk;
@import '~flag-icon-css/sass/flag-icon';

.flag-icon-en {
  background-image: url(#{$flag-icon-css-path}#{$flag-icon-rect-path}/gb.svg);

  &.flag-icon-squared {
    background-image: url(#{$flag-icon-css-path}#{$flag-icon-square-path}/gb.svg);
  }
}

.start-75 {
  left: 75%;
}