.table {
  color: $dark-100;
  border-color: $dark-200;

  td {
    color: $dark-50 !important;
  }

  .sort-link {
    &:not(.active) .text-muted {
      color: $dark-400 !important;
    }
    &.active .text-muted {
      color: $dark-200 !important;
    }
  }
}